.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    margin-bottom: 60px;
}

.list .card {
    display: flex;
    width: 209px;
    height: 80px;
    padding: 8px;
    border: 1px solid;
    border-color: var(--card-border);
    border-radius: 10px;
    box-shadow: var(--card-box-shadow);
    align-items: center;
    cursor: pointer;
}

.list .card img {
    display: flex;
    align-items: center;
}
.list .card .details {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    font-size: 12px;
    line-height: 16px;
}

.card .details .name{
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagination {
    display: flex;
    justify-content: center;
}

.user {
    position: relative
}
.user .action {
    position: absolute;
    right: 4px;
    top: 14px;
    color: #F44336;
    
}
.user .action svg {
    font-size:16px;
}

.pagination {
    margin-bottom: 50px;
}

.pagination .MuiPagination-ul .Mui-selected {
    background-color: #1976D2;
}
.pagination ul li:first-child button, .pagination ul li:last-child button{
    margin: 0 14px;
    box-shadow: var(--pagination-box-shadow);
    border-radius: 34px;
    border: var(--pagination-border);
}

.pagination ul li button{
    box-shadow: var(--pagination-box-shadow);
    color: var(--text-color);
    border: var(--pagination-border);
}